*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F6ED;
    font-family: 'Tilt Warp', cursive;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.header {
    padding: 40px 0 15px;
    font-size: 20px;
    letter-spacing: 5px;
    border-bottom: 1px solid #D3D9E1;
}

.bayan__item {
    position: relative;
    padding: 20px 0;
}

.bayan__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.bayan__trigger {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.bayan__text {
    width: 100%;
    background-color: transparent;
    border: none;
    font-family: 'Tilt Warp', cursive;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
    color: #1E5CD1;
    text-align: left;
    padding: 20px 0;
    cursor: pointer;
    outline: none;
}

.bayan__icon {
    width: 20px;
    opacity: 0;
    cursor: pointer;
    transform: rotate(-45deg);
}

.bayan__text,
.bayan__icon,
.bayan__content {
    transition: all 0.5s ease-in;
}

.bayan__items:hover .bayan__text,
.bayan__input:checked ~ .bayan__label .bayan__text {
    color: black;
}

.bayan__items:hover .bayan__icon {
    opacity: 1;
}

.bayan__input:checked ~ .bayan__label .bayan__icon {
    transform: rotate(0deg);
}

.bayan__item:hover .bayan__content,
.bayan__input:checked ~ .bayan__label .bayan__content {
    height: 100%;
}

.bayan__content {
    height: 0;
    overflow: hidden;
    text-align: center;
}

.bayan__img {
    width: 100%;
    max-width: 375px;
}

@media (max-width: 480px) {
    .container {
        padding: 0 20px;
    }
}